<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/styles.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content ="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Ný ferð</h1>

    <form action ="" method="POST">
        <h1>Dagsetning</h1>
        <h2>Select a Date:</h2>
        <input type="date" id="datePicker" name = "datePicker">
    
        <h1>Náma</h1>
        <select name="dropdown">
            <option value="Halldór">Vatnskarsð Náma
            </option>
            <option value="Hólabrú">Hólabrú</option>
            <option value="Björgun Bolalda">Björgun Bolalda</option>
            <option value="Björgun Álfsnes">Björgun Álfsnes</option>
        </select>
        <h1>Bílstjóri</h1>
        <select name="dropdown">
            <option value="Halldór">Halldór</option>
            <option value="Kosta">Kosta</option>
            <option value="Róbert">Róbert</option>
            <option value="Siggi">Siggi</option>
            <option value="Stan">Stan</option>
            <option value="Annar">Annar</option>
        </select>
        <h1>Verkstaður</h1>
        <select name="dropdown">
            <option value="Mótex">Mótex</option>
            <option value="Garðabær">Garðabær</option>
            <option value="Snorrabraut">Snorrabraut</option>
            <option value="Hlíðarendi">Hlíðarendi</option>
        </select>
        <h1>Efni</h1>
        <select name="dropdown">
            <option value="Grús">Grús</option>
            <option value="Brotinn sandur">Brotinn sandur</option>
            <option value="Harpaður sandur">Harpaður sandur</option>
            <option value="Forbrotin Grús 0-100">Forbrotin Grús 0-100</option>
            <option value="Púkk 100-200">Púkk 100-200</option>
            <option value="Púkk 30-70">Púkk 30-70</option>
            <option value="Púkk 70-120">Púkk 70-120</option>
            <option value="Drenmöl">Drenmöl</option>
        </select>
        <h1>Magn</h1>
        <select name="dropdown">
            <option value="6">6</option>
            <option value="12">12</option>
            <option value="Annað">Annað</option>
        </select>
        <button type="submit">submit</button>

    </form>
    </body>

</html>